.service {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  cursor: pointer;
  gap: 2rem;
  border-bottom: var(--divider-color) solid 0.5px;
}

.service img {
  height: 4rem;
  width: 4rem;
  margin: 0;
}

.service-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
